@import url(./product-buttons.css);
@import url(./product-code.css);
@import url(./product-desription.css);
@import url(./product-image.css);
@import url(./product-price.css);

.product {
  display: flex;
  flex-direction: column;
  gap: 0.5rem 0;
  position: relative;
  width: 165px;
}

/* Responsive design settings for tablets */
@media screen and (max-width: 768px) {
  .product {
    display: none;
    width: calc((90vw - 60px) / 4);
  }

  .product:nth-child(-n + 5),
  article[data-allproducts=""] > .product {
    display: flex;
  }
}
