.product__image {
  height: fit-content;
  width: calc((var(--width-content-desktop) - 100px) / 6);
}

/* Responsive design settings for smaller monitors */
@media screen and (max-width: 1000px) {
  .product__image {
    width: calc((var(--width-content-desktop) - 40px) / 3);
  }
}

/* Responsive design settings for tablets */
@media screen and (max-width: 768px) {
  .product__image {
    width: calc((90vw - 60px) / 4);
  }
}
