@import url(./header-box.css);
@import url(./header-loginbtn.css);

.header {
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-between;
  margin: 0 auto;
  width: var(--width-content-desktop);
}

/* Adjusts the page layout to tablets */
@media screen and (max-width: 768px) {
  .header {
    width: var(--width-content-mobile);
  }
}
