@import url(./contactform-field.css);
@import url(./contactform-label.css);
@import url(./contactform-input.css);
@import url(./contactform-sendbtn.css);
@import url(./contactform-title.css);

.contactform {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1em 0;
}
