.banner__box {
  color: var(--banner-text-color);
  display: flex;
  flex-direction: column;
  font-family: var(--banner-text-font);
  font-weight: 700;
  height: 80%;
  justify-content: end;
  width: 80vw;
}
