@import url(./footer-box.css);
@import url(./footer-contactus.css);
@import url(./footer-dev-info.css);

.footer {
  align-items: center;
  background-color: var(--footer-bgcolor);
  display: flex;
  flex-direction: column;
}
