:root {
  --banner-color-font: #ffffff;
  --banner-text-font: "Raleway", sans-serif;
  --main-color: #2a7ae4;
  --placelabel-color: #a2a2a2;
  --text-font: "Raleway", sans-serif;
  --text-color: #464646;
}
