@import url(./section-box.css);
@import url(./section-title.css);

.section {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 20px;
  width: var(--width-content-desktop);
  margin: 3rem auto;
}

/* Adjusts the page layout to tablets */
@media screen and (max-width: 768px) {
  .section {
    width: var(--width-content-mobile);
  }
}
