.link {
  color: var(--main-color);
  font-family: var(--text-font);
  font-weight: 700;
  text-decoration: none;
}

.link--rightarrow {
  background: url(./../../img/rightarrow.svg) no-repeat right / contain;
  padding-right: 2rem;
}

.link--dark {
  color: var(--text-color);
  font-weight: 500;
}
