@import url(./searchbar-button.css);
@import url(./searchbar-input.css);

.searchbar {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 1.25rem;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  width: 25vw;
}
